<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <body>
  <footer class="footer" th:fragment="site">
    <div class="content">
      <h2>Robin Tegg</h2>
    </div>
    <div class="columns">
      <div class="column is-one-quarter">
        <ul>
          <li><a href="https://robintegg.com"><strong>Robin Tegg</strong></a></li>
          <li><a href="mailto:robin@tegg.me.uk">robin@tegg.me.uk</a></li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <ul>
          <li><a href="https://github.com/teggr"><span class="icon-text">
            <span class="icon">
              <i class="fab fa-github-square"></i>
            </span>
            <span>teggr</span>
          </span></a></li>
          <li><a href="https://www.linkedin.com/in/robintegg"><span class="icon-text">
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span>
            <span>robintegg</span>
          </span></a></li>
          <li><a href="https://www.twitter.com/robintegg"><span class="icon-text">
            <span class="icon">
              <i class="fab fa-twitter-square"></i>
            </span>
            <span>robintegg</span>
          </span></a></li>
        </ul>
      </div>
      <div class="column is-half">
        <p>A Java developer. Based in Leeds, England. Has interest in Software Architecture, Testing, Automation, Tooling and UI design.</p>
      </div>
    </div>
  </footer>
 </body>
</html>
