<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="document/head :: default"></head>
  <body>
    <nav th:replace="nav/navbar :: site"></nav>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Add a new Link
      </h1>
      <p class="subtitle">
        Add a new link with <strong>Blend</strong>!
      </p>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <form th:action="@{/add-link}" method="post" th:object="${addLinkForm}">
        <div class="field">
          <label class="label" for="url">Url</label>
          <div class="control">
            <input class="input" type="text" placeholder="Url" th:field="*{url}" >
          </div>
        </div>
        <div class="field">
          <label class="label" for="title">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Title" th:field="*{title}" >
          </div>
        </div>
        <div class="field">
          <label class="label" for="tags">Tags</label>
          <div class="control">
            <input class="input" type="text" placeholder="Tags" th:field="*{tags}" >
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Submit</button>
          </div>
          <div class="control">
            <a class="button is-link is-light" th:href="@{/links}">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </section>

  <footer th:replace="document/footer :: site"></footer>

  <script th:replace="nav/navbar :: siteScript"></script>

  </body>
</html>