<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="document/head :: default"></head>
  <body>
    <nav th:replace="nav/navbar :: site"></nav>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Welcome to robintegg.com
      </h1>
      <p class="subtitle">
        Find out all about <strong>me</strong>!
      </p>
      
      <th:block th:each="content : ${contentList}">
        <th:block th:if="${content.type == 'link'}" >
          <article th:replace="content/link :: full(${content.content})"></article>
        </th:block>
        <th:block th:if="${content.type == 'podcast'}">
          <article th:replace="content/podcast :: full(${content.content})"></article>
        </th:block>
      </th:block>

    </div>
  </section>

  <footer th:replace="document/footer :: site"></footer>

  <script th:replace="nav/navbar :: siteScript"></script>
  
  </body>
</html>