<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="document/head :: default"></head>
  <body>
    <nav th:replace="nav/navbar :: site"></nav>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Links
      </h1>
      <p class="subtitle">
        See all my recently bookmarked items from the <strong>Web</strong>!
      </p>
      <article class="media" th:each="link : ${links}">
        <figure class="media-left">
          <p class="image is-4by3" style="width: 120px;">
            <img th:src="${link.getImageUrl()}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong th:text="${link.title}">John Smith</strong>
              <br>
              <stong>via [[${via.format(link.url)}]]</stong> <small th:text="${prettyTime.format(link.dateAdded)}">31m</small>
              <br>
              <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis. -->
            </p>
            <p><a th:href="${link.url}" th:text="${link.url}"></a></p>
          </div>
          <!--<nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
              </a>
            </div>
          </nav>-->
        </div>
        
      </article>

      <nav class="pagination is-centered mt-4" role="navigation" aria-label="pagination" th:if="${links.totalPages > 1}">
        <a class="pagination-previous" th:classAppend="${!links.hasPrevious()} ? 'is-disabled'" th:href="@{/links(page=${links.number-1})}">Previous</a>
        <a class="pagination-next" th:classAppend="${!links.hasNext()} ? 'is-disabled'" th:href="@{/links(page=${links.number+1})}">Next page</a>
        <ul class="pagination-list">
          <li>
            <a class="pagination-link" aria-label="Goto page 1" th:href="@{/links(page=0)}">1</a>
          </li>
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page [[${links.number - 1}]]" th:if="${links.number == links.totalPages - 1 && links.totalPages <= 3}" th:href="@{/links(page=${links.number - 2})}" th:text="${links.number - 1}">47</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page [[${links.number}]]" th:if="${links.number > 0}" th:href="@{/links(page=${links.number - 1})}" th:text="${links.number}">45</a>
          </li>
          <li>
            <a class="pagination-link is-current" aria-label="Page [[${links.number + 1}]]" aria-current="page" th:href="@{/links(page=${links.number})}" th:text="${links.number + 1}">46</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page [[${links.number + 2}]]" th:if="${links.number < links.totalPages - 1}" th:href="@{/links(page=${links.number + 1})}" th:text="${links.number + 2}">47</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page [[${links.number + 3}]]" th:if="${links.number == 0 && links.totalPages <= 3}" th:href="@{/links(page=${links.number + 2})}" th:text="${links.number + 3}">47</a>
          </li>
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page [[${links.totalPages}]]" th:href="@{/links(page=${links.totalPages - 1})}" th:text="${links.totalPages}">86</a>
          </li>
        </ul>
      </nav>

    </div>
  </section>
  </body>
</html>