<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation" th:fragment="site">
            <div class="navbar-brand">
              <a class="navbar-item" th:href="@{/}">
                <img th:src="@{/images/robintegg-logo.png}" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" th:href="@{/}">
                  Home
                </a>
          
                <a class="navbar-item" th:href="@{/links}">
                  Links
                </a>

                <nav class="navbar" role="navigation" aria-label="dropdown navigation" sec:authorize="isAuthenticated()">
                  <div class="navbar-item has-dropdown">
                    <a class="navbar-link">
                      Admin
                    </a>
                
                    <div class="navbar-dropdown">
                      <a class="navbar-item" th:href="@{/refresh-link-titles}">
                        Refresh Link Titles
                      </a>
                      <a class="navbar-item" th:href="@{/import-opml}">
                        Import Opml File
                      </a>
                    </div>
                  </div>
                </nav>

              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary" href="https://github.com/teggr/blend">
                      <strong>Get Blend</strong>
                    </a>
                    <a class="button is-light" th:href="@{/login}" sec:authorize="isAnonymous()">
                      Log in
                    </a>
                    <a class="button is-light" th:href="@{/logout}" sec:authorize="isAuthenticated()">
                      Logout
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>


          <script th:fragment="siteScript">
            document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Add a click event on each of them
$navbarBurgers.forEach( el => {
  el.addEventListener('click', () => {

    // Get the target from the "data-target" attribute
    const target = el.dataset.target;
    const $target = document.getElementById(target);

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    el.classList.toggle('is-active');
    $target.classList.toggle('is-active');

  });
});

// Get all "navbar-dropdown" elements
const $navbarDropdowns = Array.prototype.slice.call(document.querySelectorAll('.has-dropdown'), 0);

// Add a click event on each of them
$navbarDropdowns.forEach( el => {
  el.addEventListener('click', () => {

    // Toggle the "is-active" class on both the "navbar-dropdown"
    el.classList.toggle('is-active');

  });
});

});
          </script>
    </body>
</html>